<%- include('head.ejs') -%>
<body>
    <div class="form">
        <h1 class=form_title><%= title %></h1>
        <form class="form_input" action="/" method="POST">
            <label for="name" class="form_input_exp">Nafn*</label>
            <% if (!locals.validations.name) { %>
                <input name="name" id="name" class="form_input_text" type="text">
            <% } else { %>
                <input name="name" id="name" class="form_input_textr" type="text">
            <% } %>
            <br>
            <label for="ssid" class="form_input_exp">Kennitala*</label>
            <% if (!locals.validations.ssid) { %>
                <input name="ssid" id="ssid" class="form_input_text" type="text" placeholder="000000-0000">
            <% } else { %>
                <input name="ssid" id="ssid" class="form_input_textr" type="text" placeholder="000000-0000">
            <% } %>
            <br>
            <label for="comment" class="form_input_exp">Athugasemd:</label>
            <% if (!locals.validations.comment) { %>
                <textarea name="comment" id="comment" class="form_input_textarea"></textarea>
            <% } else { %>
                <textarea name="comment" id="comment" class="form_input_textarear"></textarea>
            <% } %>
            <br>
            <div class="centering">
                <input  name="anon" id="anon" class="form_input_anon" type="checkbox">
                <label for="anon" class="form_input_anon">Ekki birta nafn á lista</label>
            </div>
            <br>
            <div class="centering">
                <input type="submit" class="form_input_submit" value="Skrifa undir">
            </div>
        </form>
        <% if (locals.validations.name || locals.validations.comment || locals.validations.ssid) { %>
            <div class="errors">
                <h3 class="errors_header">Villur við undirskrift:</h2>
                <ul class="errors_list">
                    <% data.forEach((issue) => { %>
                        <li class="error_item"><%= issue %></li>
                    <% }) %>
                </ul>
            </div>
        <% } %>
    </div>
    <hr class="break">
    <%- include('table.ejs') -%>
</body>
</html>