<div class="signatures">
    <table class="table">
        <tr class="table_title">
            <th class="table_fr">Dags</th>
            <th class="table_fr">Nafn</th>
            <th class="table_fr">Athugasemd</th>
        </tr>
        <% signatures.forEach((signature) => { %>
            <tr class="table-entry">
                <td class="table-entry_date"><%= new Date(signature.signed).toLocaleDateString().replaceAll('/', '.') %></td>
                <td class="table-entry_name"><%= signature.name %></td>
                <td class="table-entry_comment"><%= signature.comment %></td>
            </tr>
        <% }); %>
    </table>
</div>